.shop-container {
    display: flex;
}

.product-container {
    flex-grow: 1;
    padding: 120px 0 95px 0;
}

.cart-container {
    flex-shrink: 0;
    width: 264px;
    height: 100vh;
    background-color: var(--light-yellow);
    position: sticky;
    top: 0;
    padding: 20px 16px;
}