@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --dark: #1C2B35;
  --text: #0E161A;
  --yellow: #FF9900;
  --light-yellow: #FFE0B3;
}

body {
  font-family: 'Lato', sans-serif;
}